<html>
  <head>
  </head>
  <body>
    <h1>
      This is my web page title which is <%=title%>
    </h1>
    <ul>
      <%list.forEach(function(item){%>
          <li><%=item%></li>
      <%})%>
    </ul>
  </body>
</html>