html
    head
        title E-library    
    body
        div( class=["container"])
          //- h1(id="myId")=title
          h1(id="myId")='Library'
          p 
              h3 sub header
          ul
              each val in list
                  li=val